.rotate img {
transform: rotate(25deg);
}



.translate img {
    transform: translate(50px, -100px);
}


.scale img:hover {
    transform: scale(1.5);
}


.animation img {
    animation-name: resize;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes resize {
    0%, 100% {
        height: 300px;
    }
    
    50% {
        height: 100px;
    }
}